@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

header{
  color:#160906;
  padding-bottom: 40px;
  padding-top: 40px;
}

table, th, td {
  border: 2px solid black;
  font-family: 'Noto Serif JP', sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  color: #160906;
}

th{
  width: 165px;
  height: 60px;
  background-color: #160906;
  color: #fff;
}

td{
  height: 40px;
}

td.move{
  font-size: 15px;
  height: 15px;
  color: #160906;
  background-color: #fff;
}

h1{
  font-family: 'Noto Serif JP', sans-serif;
  text-align: center;
  border: solid 3px #160906;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px 10px;
}

h3, p{
  text-align: center;
  font-family: 'Noto Serif JP', sans-serif;
  color: #160906;
}

h3{
  font-size: 20px;
}

table{
  margin-bottom: 90px;
}

.map {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

body{
  margin: 0;
}

footer{
  width: 100%;
  height: 32px;
  background-color: #160906;
}

p.footer{
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding-top: 7px;
}

.foo.delighter {
  transition-duration: 1.5s;
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foo.delighter.started {
  transform: none;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*.foo.delighter.started.ended {
  border: solid red 10px;
}*/

img{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
